header( class="top" )
	nav( id="main_nav" )
		div( class="logo" )
		ul( class="dropdown" )
			li
				i( class="fa fa-bars icon", aria-hidden="true" )
				ul( class="dropdown_target" )
					li= "Challengers"
					li= "Store"
					li= "About"
					li= "Sign In"
		div( class="text" )= title
