html
	head
		include head
	body
		include top_nav
		include sub_nav
		
		div( class="container", id="main_content" )
			div( class="section totals" )
				div( class="item left" )
					div( class="title" )= "left"
					div( class="number" )= user.remaining
				div( class="item middle" )
					div( class="title" )= "unique"
					div( class="number" )= user.unique
				div( class="item right" )
					div( class="title" )= "total"
					div( class="number" )= user.total
			div( class="section individuals" )
				ul
					- var keys = Object.keys( user.receipts ).sort();
					each key in keys
						li( class="number receipt" )= key
